{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Bienvenido,</h2>
            <p>Te tomará unos minutos crear la cuenta</p>
            <form id="registerForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
            </form>
            <p>Tienes una cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
        </div>
    </div>
</div>

{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '{{ message }}',
            });
        {% endfor %}
    });
</script>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('registerForm');
        form.addEventListener('submit', function(event) {
            const password1 = document.querySelector('input[name="password1"]').value;
            const password2 = document.querySelector('input[name="password2"]').value;

            if (password1 !== password2) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contraseñas no coinciden.',
                });
                return;
            }

            // Agregar cualquier otra validación de JavaScript aquí

        });
    });
</script>


{% endblock %}
